/**
 * Beige theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,400italic,700italic);

$headingFont: 'Montserrat';

// Override theme settings (see ../template/settings.scss)
$mainColor: #181818;
$headingColor: #181818;
$headingTextShadow: none;
$headingFontWeight: 700;
$backgroundColor: rgb(251,214,85);
$linkColor: #181818;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(79, 64, 28, 0.99);
$heading1TextShadow: -3px 3px 3px rgba(0,0,0,.13);

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

$heading1Size: 3.60em;

// Background generator
//@mixin bodyBackground() {
    //background: rgb(251,214,85);
    //background: linear-gradient(81deg, rgba(24,24,24,1) 9%, rgba(251,214,85,1) 9%); 
//}

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal-viewport {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        
        background: #181818;
        transform: rotate(-10deg) scaleY(1.5);
        transform-origin: bottom right;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 20px;
        left: 40px;
        width: 110px;
        height: 42px;
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="450" height="168" fill="none"><path fill="%23fff" stroke="%23fff" d="M76.5 19.8a16.8 16.8 0 0 0-5.4-2.4 37 37 0 0 0-6.8-1.3c-2.5-.3-5.5-.5-8.9-.6H55v1.8h.4a85.2 85.2 0 0 1 5.6 2 19.5 19.5 0 0 1 3.7 2.3c1.2 1 2.3 2 3.2 3.5a17.4 17.4 0 0 1 2.2 6.7c.4 2.5.6 5.9.6 10.2v16.5c0 5 0 9.1.2 12.5a39.6 39.6 0 0 0 1.6 10.1l1.3 2.8 2.4 3a15 15 0 0 0 3.8 2.7l3 1.4H83.3l-2.5 1a13.7 13.7 0 0 0-3.4 2.2 15.8 15.8 0 0 0-3.6 4.5 24.4 24.4 0 0 0-2 4.8 35 35 0 0 0-.8 6.3 204 204 0 0 0-.1 7.8V140c-.1 5-.5 9.1-1 12v.1a12.6 12.6 0 0 1-3.6 7.4 13 13 0 0 1-5.1 3.3c-1.8.7-3.7 1.3-5.8 1.8l-.4.1v1.8h.5a387.7 387.7 0 0 0 10.7-.8 22 22 0 0 0 7.4-1.8 17 17 0 0 0 5.8-4.2 18.8 18.8 0 0 0 3.2-4.7 13.5 13.5 0 0 0 1.6-4.4l.7-3.2.3-6.3.3-6.3v-18.9c0-4.6.1-8.3.3-11a17.7 17.7 0 0 1 2.3-7.3 9.5 9.5 0 0 1 2.4-2.9 15 15 0 0 1 2.3-1.4l1.2-.5h.1l2.1-.7.4-.1v-1.7h-.3c-1.5-.6-2.7-1-3.8-1.6a12.3 12.3 0 0 1-3.1-2.8 20 20 0 0 1-2.4-3.7 23 23 0 0 1-1.2-4.4 75.3 75.3 0 0 1-.5-5.6V45.4l-.1-7.4c-.1-2.2-.4-4.2-.8-5.9a18.4 18.4 0 0 0-1.5-4.6 15 15 0 0 0-2.3-4 15.2 15.2 0 0 0-4-3.7Z"/><rect width="25.9" height="15" x="25.9" y="34.7" fill="%23fff" rx="1"/><rect width="51.7" height="15" y="66.6" fill="%23fff" rx="1"/><rect width="51.7" height="15" y="98.5" fill="%23fff" rx="1"/><rect width="25.9" height="15" x="25.9" y="130.4" fill="%23FBD655" rx="1"/><path fill="%23fff" d="M183.3 128.7c-7.2 0-13.6-1.6-19-4.8a33.3 33.3 0 0 1-12.6-13.3 44 44 0 0 1-4.3-20.3c0-8.3 1.7-15.7 5.2-22.2a40 40 0 0 1 14.1-15.5 37.2 37.2 0 0 1 20.5-5.8 55.6 55.6 0 0 1 17.7 2.5l2.6.9.7 1.2-.8 3.4a169 169 0 0 0-2.9 21.5l-8.6.5v-5.5a13 13 0 0 0-3.3-9.5 11.9 11.9 0 0 0-9.1-3.6 16 16 0 0 0-14 6.8 32 32 0 0 0-4.8 19.1 40 40 0 0 0 5.5 22.7c3.7 5.4 8.9 8 15.5 8 3 0 6-.4 8.7-1.3a74.4 74.4 0 0 0 7-2.7l2.6-1.4 1.2.5 2.3 6.8-2.5 1.9a106.4 106.4 0 0 1-6.2 4.1 47.3 47.3 0 0 1-8 4.1 19 19 0 0 1-7.5 1.9Zm67.8 0c-6.8 0-12.7-1.6-17.8-4.8a33.1 33.1 0 0 1-12-13.5 45.8 45.8 0 0 1-4.2-20.1c0-8.5 1.7-15.9 5-22.4a39.5 39.5 0 0 1 14.3-15.5 37.8 37.8 0 0 1 20.4-5.6c6.8 0 12.7 1.5 17.8 4.7a31.5 31.5 0 0 1 12 13.5 45 45 0 0 1 4.1 20.1c0 8.3-1.7 15.8-5.2 22.4a38.3 38.3 0 0 1-14.1 15.5c-6 3.8-12.7 5.7-20.3 5.7Zm4-10.4a15 15 0 0 0 13.1-6.9 33.6 33.6 0 0 0 4.9-19.4c0-7-1-13-2.7-18a26 26 0 0 0-7.2-11.7 15.7 15.7 0 0 0-11-4.1c-5.5 0-9.8 2.3-13 7a34.5 34.5 0 0 0-4.8 19.4c0 7 .9 13.1 2.5 18.1a26 26 0 0 0 7.3 11.6 16.5 16.5 0 0 0 10.9 4Zm116 10.4c-9.2 0-14.5-4-15.7-12.2l-1.2-.5c-5.6 4-10 7-13.4 9-3.4 2.1-5.7 3.2-7 3.2-6.3 0-12-1.6-16.9-4.6a31 31 0 0 1-11.2-12.8c-2.7-5.5-4-12-4-19.3 0-8.5 1.8-16 5.5-22.7 3.7-6.7 8.7-12 15-15.9a40.4 40.4 0 0 1 21.6-6c1.5 0 3 0 4.7.2l5.5.3V22c0-3.3-.5-5.7-1.5-7.1-1-1.5-2.7-2.3-5-2.3a13 13 0 0 0-2.9.4l-1.3.3.8-8A307.8 307.8 0 0 0 363.5 2l6.7-1.6 2.5-.5 1.4 2.6c-.6.8-1.1 3.3-1.6 7.5a399 399 0 0 0-1.3 16.4 896.4 896.4 0 0 0-1.2 23l-.8 27.5-.2 29.7c0 2.3.6 4.2 1.7 5.6a5.8 5.8 0 0 0 4.5 1.9c1.7 0 3.2-.3 4.6-.9 1.3-.7 2.4-1.3 3.2-1.9l1.3-1 2.5 3.3-1.3 1.8a51.6 51.6 0 0 1-3.4 4.6 29.6 29.6 0 0 1-4.9 5.2 18 18 0 0 1-6 3.4Zm-33-13.9c1.9 0 3.7-.3 5.5-1 2-.8 3.7-1.7 5.2-2.7a64.9 64.9 0 0 0 3.7-2.6l1.5-1.2v-45l-4-1.7a24.6 24.6 0 0 0-10.6-1.9c-6.5 0-11.6 2.4-15.4 7.2a30.8 30.8 0 0 0-5.6 19.6c0 5.6.9 10.6 2.5 15.2 1.8 4.4 4.2 7.9 7.1 10.4a15.4 15.4 0 0 0 10 3.8Z"/><path fill="%23FBD655" d="M395.4 119c3.4-.4 5.6-1.4 6.7-3.1a21 21 0 0 0 1.7-10.1V70c0-3.9-.5-6.6-1.5-8-1-1.7-2.8-2.4-5.2-2.4a8.4 8.4 0 0 0-2.4.3l-1 .2-.8-1.2.6-6.9 12.1-2.4a664.6 664.6 0 0 0 10.1-2l4-1 1.4 1.2-.5 2.7-.7 6.5a87.6 87.6 0 0 0-.3 7.7l.7.5c3.5-5.2 7.5-9.5 11.7-12.6 4.4-3.3 8.4-5 12-5 1.7 0 3 .1 4 .4l1.5.3.5 1-.3 2.6a323.2 323.2 0 0 1-1 6.5 437.3 437.3 0 0 0-1 9l-.7 9.2-8.4.5c0-5-.3-8.3-.9-9.9-.5-1.6-1.8-2.3-3.8-2.3-2.2 0-4.5.8-7 2.5a29.4 29.4 0 0 0-6.6 7.2l-.2 3a418 418 0 0 0-.3 7.9 305.6 305.6 0 0 1-.5 9.5 1183.6 1183.6 0 0 1-.6 13.5c0 3.4.5 5.8 1.6 7.2 1 1.3 3 1.9 5.8 1.9 1.5 0 3.2 0 5-.2l3-.3.3.8-1.7 9.2-2-.1a91.2 91.2 0 0 1-4.9-.2c-2 0-4.1 0-6.4-.2h-5.9a298 298 0 0 0-16.4.5l-2.7.2 1-8.4Z"/></svg>');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: contain;
    }
}

.reveal .slides > section {
    //padding: 80px;
    //box-sizing: border-box;
}

.reveal .slides > section > section {
    box-sizing: border-box;
    width: auto;
    left: 60px;
    right: 0px;
    // background-color: rgba(0,0,0,0.3);
}

.reveal img {
    background: #ffe381;
    padding: 10px 10px 67px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.reveal pre code {
    max-height: none;
}

.slides {
    // border: 3px solid red;
    // background-color: rgba(251,214,85, .7);
    // border-radius: 20px;
}